@model Nullable<bool>

@{
    bool variable = false;
    if (Model != null)
    {
        variable = (bool)Model;
    }
    if (variable)
    {
        <span class="badge badge-pill badge-success">Sin usar</span>
    }
    else
    {
        <span class="badge badge-pill badge-secondary">Usado</span>
    }
}